/* Full Page Gradient Background */
body {
    background: linear-gradient(120deg, #2d9cdb, #ffffff);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Keyframes for Gradient Animation */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Container Styling */
.container {
    text-align: center;
    background-color: #ffffff;
    padding: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

/* Heading Styling */
h1 {
    color: #2d9cdb;
    font-size: 36px;
    margin: 0 0 20px;
    font-weight: bold;
}

/* Paragraph Styling */
p {
    color: #666;
    font-size: 18px;
    margin: 0 0 30px;
}

/* Button Styling */
.btn {
    text-decoration: none;
    background-color: #2d9cdb;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    border: none;
    display: inline-block;
}

.btn:hover {
    background-color: #5753c9;
    border-radius: 30px;
}